<form method="post">
  {% csrf_token %}
  <label for="groupId">Group ID:</label><br>
  <input type="text" id="groupId" name="group_id" placeholder="Camomile"><br>

  <label for="group_leader_Id">Group Leader:</label><br>
  <input type="text" id="group_leaderId" name="group_leader" placeholder="John Doe"><br>

  <label for="specialityId">Speciality:</label><br>
  <input type="text" id="specialityID" name="speciality" placeholder="Python Pro"><br>

  <input type="submit" value="Submit">
</form>

