Hi, {{ user.first_name }} {{ user.last_name}}.
<p> Please follow the link to complete the registration: </p>
<a href="http://{{ domain }}/{% url 'activate_user' uuid64=uid token=token %}">Link to activate</a>
