{% extends 'index.html' %}

{% block content %}
    <div>
        Are you sure you want to delete {{ groups.group_leader }}'s group? <br>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success" name="submit_yes" value="Submit">Yes</button>
            <a href="{% url 'groups:get_groups' %}" class="btn btn-danger">No</a>
        </form>
    </div>
{% endblock %}
