{% extends "index.html" %}

{% block content %}

<div class="input-group mb-3">
  <form method="GET" action="{% url 'groups:get_groups' %}">
    <input type="text" class="form-control" placeholder="any field" aria-label="Recipient's username" aria-describedby="button-addon2" name="search">
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
  </form>

      <a type="button" class="btn btn-success" href="{% url 'groups:create_groups' %}">Add new group</a>

</div>


<div>
    <table class="table table-dark table-sm">
        <thead>
            <tr>
                <th scope="col">Group ID</th>
                <th scope="col">Group Leader</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Speciality</th>
                <th scope="col">Average grade</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for group in groups %}
            <tr>
                <td>{{ group.group_id }}</td>
                <td>{{ group.group_leader }}</td>
                <td>{{ group.start_date }}</td>
                <td>{{ group.end_date }}</td>
                <td>{{ group.speciality }}</td>
                <td>{{ group.average_grade }}</td>
                <td>
                    <a type="button" class="btn btn-warning" href="{% url 'groups:update_groups' group.pk %}">Edit</a>
                    <a type="button" class="btn btn-danger" href="{% url 'groups:delete_groups' group.pk %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
