{% extends 'index.html' %}

{% block content %}
    <div>
        Are you sure you want to delete {{ student.first_name }} {{ student.last_name }}? <br>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success" name="submit_yes" value="Submit">Yes</button>
            <a href="{% url 'students:get_students' %}" class="btn btn-danger">No</a>
        </form>
    </div>
{% endblock %}
