{% extends "index.html" %}

{% block content %}



    <div>

        <table class="table table-dark table-sm">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone number</th>
                  <th scope="col">Birth date</th>
                  <th scope="col">Start date</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
              <a type="button" class="btn btn-success"
                            href="{% url 'teachers:create_teacher' %}">Add new teacher</a>

              {% for teacher in teachers%}
                    <tr>
                      <th scope="row">{{ teacher.pk }}</th>
                      <td>{{ teacher.first_name }}</td>
                      <td>{{ teacher.last_name }}</td>
                      <td>{{ teacher.email }}</td>
                      <td>{{ teacher.phone_number }}</td>
                      <td>{{ teacher.birth_date }}</td>
                      <td>{{ teacher.start_date }}</td>
                      <td><a type="button" class="btn btn-warning"
                            href="{% url 'teachers:update_teacher' teacher.pk %}">Edit</a>
                          <a type="button" class="btn btn-danger"
                            href="{% url 'teachers:delete_teacher' teacher.pk %}">Delete</a>
                      </td>
                    </tr>
              {% endfor %}

     </div>

{% endblock content %}