{% extends 'index.html' %}

{% block content %}
    <div>
        Are you sure you want to delete {{ teachers.first_name }} {{ teachers.last_name }}? <br>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success" name="submit_yes" value="Submit">Yes</button>
            <a href="{% url 'teachers:get_teachers' %}" class="btn btn-danger">No</a>
        </form>
    </div>
{% endblock %}
