{% extends "index.html" %}

{% block content %}

<div>
    <table class="table table-dark table-sm">
        <thead>
            <tr>
                <th scope="col">Group ID</th>
                <th scope="col">Group Leader</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Speciality</th>
                <th scope="col">Average Grade</th>
            </tr>
        </thead>
        <tbody>
            <h1> Groups of {{ teacher.first_name }} {{ teacher.last_name }}</h1>

            {% for group in teacher_groups %}
            <tr>
                <td>{{ group.group_id }}</td>
                <td>{{ group.group_leader }}</td>
                <td>{{ group.start_date }}</td>
                <td>{{ group.end_date }}</td>
                <td>{{ group.speciality }}</td>
                <td>{{ group.average_grade }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
