{% extends "index.html" %}

{% block content %}

<div class="input-group mb-3">
  <form method="GET" action="{% url 'students:get_students' %}">
    <input type="text" class="form-control" placeholder="Students's name" aria-label="Recipient's username" aria-describedby="button-addon2" name="search">
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
  </form>

      <a type="button" class="btn btn-success" href="{% url 'students:create_students' %}">Add new student</a>

</div>


<div>
    <table class="table table-dark table-sm">
        <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Birth date</th>
                <th scope="col">Group</th>
                <th scope="col">Grade</th>
                <th scope="col">Student's CV</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>


            {% for student in students %}
            <tr>
                <td>
                    {% if student.photo %}
                    <img src="{{ student.photo.url }}" alt="{{ student.first_name }} {{ student.last_name }}" style="max-width: 120px; max-height: 120px;">

                    {% else %}
                    <p> no image </p>
                    {% endif %}
                </td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.birth_date }}</td>
                <td>{{ student.group }}</td>
                <td>{{ student.grade }}</td>
                <td>
                    {% if student.cv %}
                    <a type="button" class="btn btn-warning" href="{{ student.cv.url }}">Download CV</a>
                    {% else %}
                    <p> no cv </p>
                    {% endif %}
                </td>
                <td>
                    <a type="button" class="btn btn-warning" href="{% url 'students:update_students' student.pk %}">Edit</a>
                    <a type="button" class="btn btn-danger" href="{% url 'students:delete_students' student.pk %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
