{% extends "index.html" %}

{% block content %}

<div class="input-group mb-3">
  <form method="GET" action="{% url 'teachers:get_teachers' %}">
    <input type="text" class="form-control" placeholder="Teacher's name" aria-label="Recipient's username" aria-describedby="button-addon2" name="search">
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
  </form>
    <a type="button" class="btn btn-success" href="{% url 'teachers:create_teachers' %}">Add new teacher</a>
</div>


<div>
    <table class="table table-dark table-sm">
        <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone number</th>
                <th scope="col">Birth date</th>
                <th scope="col">Start date</th>
                <th scope="col">Groups</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>

            {% for teacher in teachers %}
            <tr>
                <tr>
                <td>
                    {% if teacher.photo %}
                    <img src="{{ teacher.photo.url }}" alt="{{ teacher.first_name }} {{ teacher.last_name }}" style="max-width: 120px; max-height: 120px;">

                    {% else %}
                    <p> no image </p>
                    {% endif %}
                </td>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.phone_number }}</td>
                <td>{{ teacher.birth_date }}</td>
                <td>{{ teacher.start_date }}</td>
                <td>
                    <a type="button" class="btn btn-secondary" href="{% url 'teachers:groups_of_teacher' teacher.pk %}">Group list</a>
                </td>

                <td>
                    <a type="button" class="btn btn-warning" href="{% url 'teachers:update_teachers' teacher.pk %}">Edit</a>
                    <a type="button" class="btn btn-danger" href="{% url 'teachers:delete_teachers' teacher.pk %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
